.navbar {
    /* Style */
    background-color: var(--primary-color);
    color: var(--text-color-light);

    /* Size */
    padding: 1rem;
    width: 100%;

    /* Position */
    display: flex;
    justify-content: space-between;
    align-items: center;
}