:root {
    --primary-color: #042B2A;
    --secondary-color: #D66B27;
    --text-color-dark: #021a19;
    --text-color-light: #ededed;
    --background-color: #fff;
    
    --navbar-min-height: 70px;
    --navbar-logo-height: 70px;
}

body {
    min-height: 100vh;
    position: relative;
    background-image: url('/src/assets/images/background/adobestocktopograhy.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: 1000px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* White overlay with 50% opacity */
    z-index: -1;
}

.no-bullets {
    list-style-type: none;
}

.no-decoration {
    text-decoration: none;
    color: inherit;
}